<div id="protected-content" style="display:none;">
    {{ content }}
</div>

<div id="password-form">
    <p> 저작권 관련 사항 발생시 삭제될 수 있는 글입니다.</p>
    <br/>
    <label for="password"> 비밀번호:</label>
    <input type="password" id="password">
    <button onclick="checkPassword()">제출</button>
    <p id="error-message" style="color: red; display:none;">비밀번호가 틀립니다.</p>
</div>

<script>
    function checkPassword() {
        var password = document.getElementById('password').value;
        if (password === 'qwe123') {  //사실 읽으셔도... 공유만 자제해주세요
            document.getElementById('protected-content').style.display = 'block';
            document.getElementById('password-form').style.display = 'none';
        } else {
            document.getElementById('error-message').style.display = 'block';
        }
    }
</script>